.dashboard-content {
    flex-grow: 1;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
}

.grid::after {
    content: "";
    display: block;
    clear: both;
}

.grid-item {
    box-sizing: border-box;
    text-align: center;
    width: 220px;
    height: 220px;
    /* background: #BBB; */
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.grid-item:hover::after {
    content: attr(data-genre);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    font-family: 'Darumadrop One', cursive;
    opacity: 1;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}

.gallery-name {
    font-family: 'Darumadrop One', cursive;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 50%;
}

.grid-item:hover .gallery-name {
    opacity: 1;
}

.grid-item img {
    position: relative;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
    margin-top: 60px;
}


.off-canvas-content {
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.delete-button {
    position: absolute;
    top: 19px;
    left: calc(50% + 55px);
    transform: translateX(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(206, 63, 63);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(177, 121, 121);
}

.plus-sign {
    font-size: 100px;
    color: rgb(95, 219, 95);
}

.create-cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-content {
    position: relative;
    top: 25%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.create-cell:hover .create-content::before {
    content: "Create New Playlist";
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.playlist-select {
    width: 400px;
    /* Adjust the width to your desired value */
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.share-button:hover {
    background-color: rgb(119, 168, 119);
    /* Darker green on hover */
}

.about-button {
    cursor: pointer !important;
}

.community-header {
    font-size: 30px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -27px;
}