body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    padding: 20px;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0, 20px, 20px rgba(0, 0, 0, 50%);
}

#messageWrapper {
    height: 425px;
    width: 450px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
}


.recievedMessage, .sentMessage {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    line-height: 1.4;
}

.recievedMessage {
    align-self: flex-start;
    background-color: #007AFF;
    border-bottom-left-radius: 0;
}

.sentMessage {
    font-size: 18px;
    align-self: flex-end;
    background-color: #1DB954;
    margin-top: 5px;
    padding: 15px;
    border-radius: 20px;
    word-wrap: break-word;
    border-bottom-right-radius: 0;
}

.form {
    display: flex;
    gap: 10px;
}

.userCount {
    flex-grow: 1;
    color: #666;
}

input {
    flex-grow: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px; /* adjust this value */
}

button {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
}

button:hover {
    background-color: #1ED760;
}

.userCount {
    flex-grow: 1;
    color: #666;
    margin: 0; /* Remove the default margin */
    line-height: 15px; /* Match the height of your input field */
}
