.genre {
    display:flex;
    justify-content: center;
    margin-left: 70px;
}

.center-container {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* Add any additional styles if needed */
}

.userCount{
    flex: 0.2; /* smaller flex value means less space */
}
