.genre {
    display:flex;
    justify-content: center;
    margin-left: 70px;
    color:rgb(0, 0, 0);
}

.center-container {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* Add any additional styles if needed */
}

.userCount{
    flex: 0.2; /* smaller flex value means less space */
}

iframe {
    width: 45%; /* adjust to your preference, less than 100% will reduce its width */
    max-width: 500px; /* prevents the iframe from being wider than its parent */
    margin-left: 10%; /* adds space to the left, adjust as needed */
  }
  
