header {
    height: 150px;
    width: 100vw;

}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    width: 100px;
    margin-left: 70px;
    margin-top: 10px;
}

.logo:hover {
    filter: invert(100%);
}

.text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: -29px;
    justify-content: center;
    display: flex;
    margin-left: 70px;
    font-family: 'Darumadrop One';
}

@media (max-width: 450px) {
   
}