header {
    height: 150px;
    /* Set the desired height */
}

header img {
    height: 100%;
    width:110%;
    object-fit: cover;
}

.banner {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    width: 100px;
    margin-left: 70px;
    margin-top: 10px;
    filter: grayscale(100%) !important;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top:5px;
    justify-content: center;
    display: flex;
    margin-right: 90px;
}